*.o
.DS_Store
.*.swp
*.index
*.tmp
/src
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/files
/package/openwrt-packages
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
scripts/config/conf
scripts/config/mconf
