*.o
.DS_Store
.*.swp
*.index
*.tmp
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/files
/package/openwrt-packages
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
scripts/config/conf
scripts/config/mconf
scripts/config/lex.zconf.c
scripts/config/lxdialog/lxdialog
scripts/config/zconf.hash.c
scripts/config/zconf.tab.c

